   .image_row1 {
    margin-left: 30px;
    display: flex;
    }

   .top-left {
    position: absolute;
    flex: 33.33%;
    padding: 5px;
   }

   .top-middle  {
    position: relative;
    flex: 33.33%;
    padding: 5px;
   }

   .top-right  {
    position: relative;
    flex: 33.33%;
    padding: 5px;
   }

   .image_row2 {
    margin-left: 30px;
    display: flex;
}
   .bottom-left {
    position: absolute;
    flex: 33.33%;
    padding: 5px;
   }

   .bottom-middle {
    position: relative;
    flex: 33.33%;
    padding: 5px;
   }

   .bottom-right  {
    position: relative;
    flex: 33.33%;
    padding: 5px;
   }

   .section_title {
    margin-left: 30px;
    margin-right: 40px;
    flex: 33.33%;
    padding: 5px;
   }

 .position-footer {
    margin-top: 25%;
 }

section {
    width: 960px;
    padding: 10px;
    padding-bottom: 2px;
    border: 1px solid #ccc;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 17%;
    margin-bottom: 140px;
    resize: vertical;
    background-color: #ffffff;
}
   